<div class="row" style="width:100%;">
    <div class="col-xl-12">
        <div class="card card-body border-top-primary">
            <div class="text-center"><br />
                <h2>Based on your previous issuances, we suggest you books you'll fancy! </h2><br />

                <div>

                    <div class="card">

                        <div *ngIf="no_books" class="card">
                            <div style="padding: 7px; background-color:tomato;color:white;font-size:20px;">No books
                                found!
                                Please, try again.
                            </div>
                        </div>

                        <div class="card-body" *ngIf="!no_books">
                            <table class="table text-nowrap text-center">
                                <thead class="thead-dark">
                                    <th scope="col">Title</th>
                                    <th scope="col">Author</th>
                                    <th scope="col">Availability</th>
                                    <th scope="col">Location</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let t of data">
                                        <td>{{t.Title}}</td>
                                        <td>{{t.Author}}</td>
                                        <td>{{getAvailability(t)}}</td>
                                        <td>{{t.Location}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>






                </div>
            </div>

        </div>

    </div>
</div>