<div class="page-content login-cover" style="height:100vh;background-image:url('../../assets/download.jpg' )">

    <!-- Main content -->
    <div class="content-wrapper" style="padding:0px;">
        <div class="content d-flex flex-row-reverse align-items-center" style="padding:0px;">
            <div class="flex-column" style="height:100vh;  margin: auto; width: fit-content;">
                <!--
                <div class="p-1">
                    <div class="text-center mb-3">
                        <span class="d-block text-muted">
                            <div style="font-weight: bolder;font-size: 40px; "> Welcome!
                            </div>

                        </span>
                    </div>
                
                   

                
                </div>
                -->
                <!-- Login form -->
                <div style="margin: auto; width: fit-content;">
                    <form class="login-form wmin-sm-400 align-items-center" style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">
                        <div style="height: 100%" class="card mb-0 shadow-0 align-middle">
                            <div class="align-self-center p-2" style="font-size:xx-large; border-bottom: rgba(211, 211, 211, 0.5);">Welcome!</div>
                            <ul class="nav nav-tabs nav-justified alpha-grey mb-0">
                                <li class="nav-item"><a (click)="showOption('login')" id="tab1"
                                        class="nav-link border-y-0 border-left-0 active">
                                        <h6 class="my-1">Log in</h6>
                                    </a></li>
                                <li class="nav-item"><a (click)="showOption('register')" id="tab2"
                                        class="nav-link border-y-0 border-right-0">
                                        <h6 class="my-1">Register</h6>
                                    </a></li>
                            </ul>

                            <div class="tab-content card-body">
                                <div class="tab-pane fade show active" id="login-tab1" *ngIf="show_log">
                                    <app-home-login></app-home-login>
                                </div>

                                <div class="tab-pane fade show active" id="login-tab2" *ngIf="show_reg">
                                    <app-home-register></app-home-register>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>

        </div>


        <!-- /login form -->
    </div>
    <!-- /content area -->
</div>
<!-- /main content -->