<div class="navbar navbar-expand-md" min-height=100vh style="background-color:#263238 ;">

    <span class="badge bg-success ml-md-3 mr-md-auto" style="visibility:hidden;">& </span>
    <ul class="navbar-nav">
        <li class="nav-item dropdown dropdown-user">
            <div (click)="auth.logoutUser()" style="color:white;font-weight: bold;padding:5px 15px 0px 20px;">
                <h4><b>Log Out</b></h4>
            </div>
        </li>
    </ul>
</div>
<!-- Page content -->
<div class="page-content">
    <!-- Main sidebar -->
    <div class="sidebar sidebar-dark sidebar-main sidebar-expand-md" style="min-height:100vh;">

        <!-- Sidebar mobile toggler -->
        <!-- <div class="sidebar-mobile-toggler text-center">
            <a href="#" class="sidebar-mobile-main-toggle">
                <i class="icon-arrow-left8"></i>
            </a>
            Navigation
            <a href="#" class="sidebar-mobile-expand">
                <i class="icon-screen-full"></i>
                <i class="icon-screen-normal"></i>
            </a>
        </div> -->
        <!-- /sidebar mobile toggler -->


        <div class="text-center text-muted content-divider">
        </div>
        <!-- Sidebar content -->
        <div class="sidebar-content">
            <!-- Main navigation -->
            <div class="card card-sidebar-mobile">
                <ul class="nav nav-sidebar" data-nav-type="accordion">
                    <!-- Main 
                            <li class="nav-item"><a href="dimple_pies.html" class="nav-link">Pie charts</a></li>-->
                    <br />
                    <li class="nav-item-header">
                        <div class="text-uppercase font-size-xs line-height-xs">EXPLORE BOOKS</div> <i class="icon-menu"
                            title="Main"></i>
                    </li>
                    <ul class="nav-item nav-item-submenu">

                        <li class="nav-item"><a (click)='showMenuOption("by_title")' class="nav-link"><i
                                    class='icon-stack'></i><span>Explore By Title</span></a></li>
                        <li class="nav-item"><a (click)='showMenuOption("by_author")' class="nav-link"><i
                                    class='icon-stack'></i><span>Explore By Author</span></a></li>


                    </ul>
                    <li class="nav-item-header">
                        <div class="text-uppercase font-size-xs line-height-xs">YOUR MEMBERSHIP DETAILS</div> <i
                            class="icon-menu" title="Main"></i>
                    </li>

                    <ul class="nav-item nav-item-submenu">

                        <li class="nav-item"><a (click)='showMenuOption("details")' class="nav-link"><i
                                    class='icon-stack'></i><span>Get Membership Details</span></a></li>


                    </ul>
                    <li class="nav-item-header">
                        <div class="text-uppercase font-size-xs line-height-xs">TRANSACTION HISTORY</div> <i
                            class="icon-menu" title="Main"></i>
                    </li>
                    <ul class="nav-item nav-item-submenu">

                        <li class="nav-item"><a (click)='showMenuOption("all_trans")' class="nav-link"><i
                                    class='icon-stack'></i><span>All Transactions</span></a></li>
                        <li class="nav-item"><a (click)='showMenuOption("active_trans")' class="nav-link"><i
                                    class='icon-stack'></i><span>Active Transactions</span></a></li>


                    </ul>
                    <li class="nav-item-header">
                        <div class="text-uppercase font-size-xs line-height-xs">RECOMMENDATIONS</div> <i
                            class="icon-menu" title="Main"></i>
                    </li>
                    <ul class="nav-item nav-item-submenu">
                        <li class="nav-item"><a (click)='showMenuOption("sugg")' class="nav-link"><i
                                    class='icon-stack'></i><span>Get Recommendations</span></a></li>


                    </ul>
                </ul>
            </div>
            <!-- /main navigation -->

        </div>
        <!-- /sidebar content -->
    </div>
    <!-- /main sidebar -->
    <!-- Main content -->

    <div class="content-wrapper">
        <!-- Page header -->
        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <!--<h3>{{details[0].brandname}}</h3>-->
                <h3> Welcome {{user}} !!</h3>

                <!--{{MenuOption}}-->
                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>

            <div class="header-elements d-none">
                <!--If there are any other settings or support -->
            </div>
        </div>
        <!-- /page header -->

        <!-- Content area -->
        <app-book-author-available *ngIf="by_author"></app-book-author-available>
        <app-book-title-available *ngIf="by_title"></app-book-title-available>
        <app-get-membership-details *ngIf="details"></app-get-membership-details>
        <app-transaction-history-all *ngIf="all_trans"></app-transaction-history-all>
        <app-transaction-history-active *ngIf="active_trans"></app-transaction-history-active>
        <app-recommendations *ngIf="sugg"></app-recommendations>
        <div class="content" *ngIf="bleh_home">
            <div class="row">
                <div class="col-xl-4">
                    <div class="card" min-height="500px">
                        <div class="card-header header-elements-inline">
                            <h4 class="card-title">Your Assests</h4>
                        </div>
                        <div class="card-body">
                            Videos: <br /><br /><br /><br /><br />
                            <button type="submit" class="btn btn-primary btn-block" (click)="asset()">Add new
                                Asset</button>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="card">
                        <div class="card-header header-elements-inline">
                            <h4 class="card-title">Your Audience</h4>
                        </div>

                        <div class="card-body" width="100%">

                            <ul *ngFor="let i of [1,2,3]">
                                <li>i</li>
                            </ul>

                            <button type="submit" class="btn btn-primary btn-block" (click)="audience()">Add
                                new</button>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="card">
                        <div class="card-header header-elements-inline">
                            <h4 class="card-title">Your Peers</h4>

                        </div>

                        <div class="card-body">
                            <ul *ngFor="let i of [1,2,3]">
                                <li>j</li>
                            </ul>

                            <button type="submit" class="btn btn-primary btn-block" (click)="peer()">Add new</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>